/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media(max-width: 290px){
	.about-us-container{
		max-width: 80px;
	}
	.about-us{
		font-size: 15px;
		left: 50px;
	}
}
@media(max-width: 670px){
	.burger-icon{
		display: block;
		color: white;
		margin-right: 32px;
	}
	.nav-container{
		display: none;
	}
}
@media(max-width: 685px){
	.section2{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.image3,.image1,.image2{
		margin-top: 10px;
		max-width: 300px;
		width: 100%;
	}
}
@media(max-width:  200px){
	.white-box-title{
		max-width: 80px;
		width: 100%;
		font-size: 10px;
	}
	.white-box-paragraph{
		max-width: 150px;
		width: 100%;
		font-size: 8px;
		text-align: center;
	}
}
